.box{
    display: flex;
    flex-direction: row;
    align-items: start; 

    
    padding-left: 20px;
    padding-right: 20px;

}


.ng-container{
    align-items: center; 
    justify-content: center; 
}
ion-icon{
    margin-top: 13px;
    align-items: start;
    font-size: 30px;
}

ion-page{
    background-color: red;
}
ion-card{
    background-color: rgb(224, 224, 224);
    
    border-color: red;
}
ion-content {
    --background: linear-gradient(to right top, #011f4b, #00558c, #008d9e, #00c275, #a8eb12);
  }


h1{
    color: #323232;
    text-align: start;
    justify-content: start;
    margin-left: 15px;
    font-size: 20px;
    align-items: center;
   // font-family: fuentePruebas; 
}
h2{
    color: #323232;
    text-align: start;
    justify-content: start;
    margin-left: 15px;
    font-size: 20px;
    align-items: center;
    font-family:  fuentePruebas;
}


h3{
    font-family: fuentePruebasMediumSemiBold;
    font-size:  30px ;
    color: rgb(8, 8, 8);
    
    
}
ion-header{
    --background: rgb(181, 181, 181);
}

ion-item{
    
    color: rgb(5, 5, 5);
    font-size: 25px;
    --background: rgba(255, 255, 255, 0.14);
    --border-color: rgba(255, 0, 0, 0);
    font-family:  fuentePruebas;

}
.mensajeBienvenida{
    font-family:  fuentePruebasMediumSemiBold;
    

}
.mensajeCuenta{
    font-family:  fuentePruebasMediumSemiBold;
    justify-content: end;
    

}

.botonqr{
    
    --background:  rgb(45, 154, 255);
    width:40px ;
    height:40px ;
}