<ion-header [translucent]="true" style="background-color: rgb(4, 36, 123);">
  <ion-toolbar >
    <ion-button (click)="logOut()" slot="start">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title class="titulo">Registro</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" scrollY="false">
  
    <ion-card > 
      <ion-item style="--background: rgba(255, 0, 0, 0);">
        <ion-label class="input">Nombre:</ion-label>
        <ion-input type="text" [(ngModel)]="nombre"></ion-input>
      </ion-item>
    </ion-card>
    <ion-card > 
      <ion-item style="--background: rgba(255, 0, 0, 0);">
        <ion-label class="input">Apellido:</ion-label>
        <ion-input type="text" [(ngModel)]="apellido"></ion-input>
      </ion-item>
    </ion-card>
    <ion-card > 
      <ion-item style="--background: rgba(255, 0, 0, 0);">
        <ion-label class="input">Edad:</ion-label>
        <ion-input type="text"[(ngModel)]="edad"></ion-input>
      </ion-item>
    </ion-card> 
    <ion-card > 
      <ion-item style="--background: rgba(255, 0, 0, 0);">
        <ion-select [(ngModel)]="genero" placeholder="Seleccione su genero"  class="input">
          <ion-select-option value="Femenino">Femenino</ion-select-option>
          <ion-select-option value="Masculino">Masculino</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card> 
    <ion-card > 
      <ion-item style="--background: rgba(255, 0, 0, 0);">
        <ion-label class="input">Email:</ion-label>
        <ion-input type="text"[(ngModel)]="email"></ion-input>
      </ion-item>
    </ion-card> 
    <ion-card > 
      <ion-item style="--background: rgba(255, 0, 0, 0);">
        <ion-label class="input">Contraseña:</ion-label>
        <ion-input type="text" [(ngModel)]="contrasena"></ion-input>
      </ion-item>
    </ion-card> 
    <ion-card > 
      <ion-item style="--background: rgba(255, 0, 0, 0);">
        <ion-select [(ngModel)]="cuenta" placeholder="Seleccione tipo de cuenta"  class="input">
          <ion-select-option value="Conductor">Conductor</ion-select-option>
          <ion-select-option value="Pasajero">Pasajero</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card> 
  
    <ion-card >
      <ion-item style="--background: rgba(255, 0, 0, 0);">
        <ion-select (ionChange)="cargarComuna()" placeholder="Seleccione region" [(ngModel)]="regionSeleccionada"  class="input">
          <ion-select-option [value]="i.id" *ngFor="let i of regiones">{{i.nombre}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card> 

      <ion-card >
      <ion-item style="--background: rgba(255, 0, 0, 0);">
        <ion-select placeholder="Seleccione comuna" [(ngModel)]="comunaSeleccionada"  class="input">
          <ion-select-option [value]="i.id" *ngFor="let i of comunas">{{i.nombre}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card> 



  

</ion-content>
<ion-footer>
  <ion-button (click)="registro()" expand="full">Acceder</ion-button>

</ion-footer>