<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button (click)="logOut()" slot="start">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-button>
    <ion-title>Registrarse</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card > 
      <ion-item >
        <ion-label>Nombre:</ion-label>
        <ion-input type="text" [(ngModel)]="nombre"></ion-input>
      </ion-item>
    </ion-card>
    <ion-card > 
      <ion-item >
        <ion-label>Apellido:</ion-label>
        <ion-input type="text" [(ngModel)]="apellido"></ion-input>
      </ion-item>
    </ion-card>
    <ion-card > 
      <ion-item >
        <ion-label>Edad:</ion-label>
        <ion-input type="text"[(ngModel)]="edad"></ion-input>
      </ion-item>
    </ion-card> 
    <ion-card > 
      <ion-item>
        <ion-label>Genero:</ion-label>
        <ion-select [(ngModel)]="genero" placeholder="Seleccione su genero">
          <ion-select-option value="Femenino">Femenino</ion-select-option>
          <ion-select-option value="Masculino">Masculino</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card> 
    <ion-card > 
      <ion-item >
        <ion-label>Email:</ion-label>
        <ion-input type="text"[(ngModel)]="email"></ion-input>
      </ion-item>
    </ion-card> 
    <ion-card > 
      <ion-item >
        <ion-label>Contraseña:</ion-label>
        <ion-input type="text" [(ngModel)]="contrasena"></ion-input>
      </ion-item>
    </ion-card> 
    <ion-card > 
      <ion-item>
        <ion-label>Tipo cuenta:</ion-label>
        <ion-select [(ngModel)]="cuenta" placeholder="Seleccione tipo de cuenta">
          <ion-select-option value="Conductor">Conductor</ion-select-option>
          <ion-select-option value="Pasajero">Pasajero</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card> 
  
    <ion-card >
      <ion-item>
        <ion-select (ionChange)="cargarComuna()" placeholder="Seleccione region" [(ngModel)]="regionSeleccionada">
          <ion-select-option [value]="i.id" *ngFor="let i of regiones">{{i.nombre}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card> 

      <ion-card >
      <ion-item>
        <ion-select placeholder="Seleccione comuna" [(ngModel)]="comunaSeleccionada">
          <ion-select-option [value]="i.id" *ngFor="let i of comunas">{{i.nombre}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card> 



  </ion-card>

</ion-content>
<ion-footer>
  <ion-button (click)="registro()" expand="full">Acceder</ion-button>

</ion-footer>