<ion-header [translucent]="true" >
  <ion-toolbar >
    <ion-button (click)="menuPrincipal()" slot="start"> <ion-icon name="arrow-back-outline" ></ion-icon>Menú principal.</ion-button>
    <ion-title>Menú</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
  <ion-card > 
    <ion-item >
      <ion-label>Nombre:</ion-label>
      <ion-input type="text" id="nombre"></ion-input>
    </ion-item>
  </ion-card>
  <ion-card > 
    <ion-item >
      <ion-label>Apellido:</ion-label>
      <ion-input type="text" id="apellido"></ion-input>
    </ion-item>
  </ion-card>
  <ion-card > 
    <ion-item >
      <ion-label>Edad:</ion-label>
      <ion-input type="text" id="edad"></ion-input>
    </ion-item>
  </ion-card> 
  <ion-card > 
    <ion-item>
      <ion-select (ionChange)="cargarComuna()" placeholder="Seleccione region" [(ngModel)]="regionSeleccionada" >
        <ion-select-option id="region" [value]="i.id" *ngFor="let i of regiones">{{i.nombre}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-card>
  <ion-card >
    <ion-item>
      <ion-select placeholder="Seleccione comuna" [(ngModel)]="comunaSeleccionada">
        <ion-select-option id="comuna" [value]="i.id" *ngFor="let i of comunas">{{i.nombre}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-card>
</ion-card>



  <ion-button  class="boton-registro" (click)="agregarUsuario()">Agregar usuario</ion-button>
  <ion-button (click)="modal()" class="boton-registro">Ver usuarios (Modal) </ion-button>
  <ion-list>
    <h1 style="margin-left: 25px;">Usuario agregados.</h1>
    <ion-item *ngFor="let usuario of usuarios" >
      <ion-card>
        
      <ion-label> Nombre: {{ usuario.nombre }} </ion-label>
      <ion-label> Apellido: {{ usuario.apellido }}</ion-label>
      <ion-label> Edad: {{ usuario.edad }}</ion-label>
      <ion-label> Region: {{ usuario.region }}</ion-label>
      <ion-label> Comuna: {{ usuario.comuna }}</ion-label>

    </ion-card>
    </ion-item>
 

  </ion-list>



</ion-content>
