<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button (click)="volverLogin()" slot="start" >
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-button>
    <ion-title>Registrarse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Recuperacion de Acc.</ion-title>
    </ion-toolbar>
  </ion-header>

<ng-container> 

  <ion-label class="ion-label-titulo">Ingrese su correo para restablecer.</ion-label>
  <ion-card> 
  <ion-card-content>
    <ion-item>
      <ion-label>Email:</ion-label>
      <ion-input [(ngModel)]="emailRecuperacion" type="text"></ion-input>
    </ion-item>
    <ion-button (click)="resetPassword()">Enviar correo</ion-button>
  </ion-card-content>
</ion-card> 

  

</ng-container>

</ion-content>
