.ion-tittle-correo{
    color: red;
    padding-top: 5px;
}
 

.ion-label-titulo{
    margin-top: 50px;
   
}
h1{

    padding-left: 120px;
    margin-top: 90px;
    margin-bottom: 5px;
    color: rgb(0, 0, 0);
}

ion-item{
    margin-top: 1px;
}

.ion-button-alert{
    padding-right:100px;
    padding-left:100px ;
    width: 402px;

}