<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button (click)="volverLogin()" slot="start" >
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title class="titulo">Recuperacion contraseña.</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


<ng-container> 

<ion-card> 
  <ion-card-content>
    <ion-label class="ion-label-titulo">Ingrese su correo para restablecer.</ion-label>
    <ion-item>
      <ion-label>Email:</ion-label>
      <ion-input [(ngModel)]="emailRecuperacion" type="text"></ion-input>
    </ion-item>
    <ion-button (click)="resetPassword()">Enviar correo</ion-button>
  </ion-card-content>
</ion-card> 

  

</ng-container>

</ion-content>
