ion-content {
  --background: linear-gradient(to top, #2a2a2a, #2f2e42, #2f325c, #273777, #023c94);
}

ion-card {
  color: white;
  opacity: 1;
  background: blue;
  margin-top: 37%;
  --background: rgb(11, 11, 11);
}

.login{
  font-family:  fuentePruebasMedium;
}

.ion-button-recuperacion{
  --background: rgb(187, 187, 187);
  color: rgb(9, 9, 9);
  font-family:  fuentePruebasMedium;
  width: 98%;
  padding-top:5px;
 }
  

.ion-button-registro{
  --background: rgb(187, 187, 187);
  color: rgb(9, 9, 9);
  font-family:  fuentePruebasMedium;
  width: 98%;
  padding-top:5px; 
}

@media (prefers-color-scheme: dark) {
  ion-card {
    --background: green;
  }
}



