.boton-registro{
    
    width: 200px;
    align-content: center;
    margin-left: 100px;
  }

  .invalid-input {
    border: 2px solid red;
  }

  ion-content {
    --background: linear-gradient(to right top, #011f4b, #00558c, #008d9e, #00c275, #a8eb12);
  }

  .fotoQR{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30%;
    width:350px ;
    height: 350px;
  }