ion-icon{
    color: red($color: #f30d0d);
    padding-right: 3px;
}
.logoUsd{
    padding-left: 7px;
    color: green;
}
.ion-button-alert{
    padding-left: 30px;
    width: 350px;
}
ion-content {
    --background: linear-gradient(to right top, #011f4b, #00558c, #008d9e, #00c275, #a8eb12);
  }